<div *ngIf="(currentUserStore.currentUser$ | async) as currentUser" class="app-container">
  <div class="container" *ngIf="currentUser.login" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxFlexFill>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="{{currentUser.avatar_url}}">
          <mat-card-title>@{{currentUser.login}}</mat-card-title>
          <mat-card-subtitle>
            <span
              *ngIf="(commitsStore.commitsCount$ | async) as commitsCount;"
            >{{ commitsCount }}</span> commits in the past year
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="(commitsStore.commitsTimeline$ | async) as commitsTimeline;">
          <ngx-charts-area-chart
            [view]=view
            [scheme]="colorScheme"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [gradient]="gradient"
            [results]="commitsTimeline"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
          </ngx-charts-area-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">book</mat-icon>
          <mat-card-title>Repositories</mat-card-title>
          <mat-card-subtitle>Your public repo count</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">{{currentUser.public_repos}}</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">new_releases</mat-icon>
          <mat-card-title>Issues</mat-card-title>
          <mat-card-subtitle>Your issue count</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div *ngIf="(issuesStore.issuesCount$ | async) as issuesCount; else noissues" class="big-digits">
            {{issuesCount}}
          </div>
          <ng-template #noissues> <div class="big-digits">0</div> </ng-template>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>merge_type</mat-icon>
          <mat-card-title>Pull Requests</mat-card-title>
          <mat-card-subtitle>Your pull request count</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div *ngIf="(pullRequestsStore.pullRequestsCount$ | async) as prsCount; else noprs" class="big-digits">
              {{prsCount}}
            </div>
            <ng-template #noprs> <div class="big-digits">0</div> </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>people</mat-icon>
          <mat-card-title>Followers</mat-card-title>
          <mat-card-subtitle>Your follower count</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">{{currentUser.followers}}</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>people_outline</mat-icon>
          <mat-card-title>Following</mat-card-title>
          <mat-card-subtitle>Your following count</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">{{currentUser.following}}</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">bookmarks</mat-icon>
          <mat-card-title>Gists</mat-card-title>
          <mat-card-subtitle>Your public gist count</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="big-digits">{{currentUser.public_gists}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>