<div class="loader" *ngIf="(uiStateStore.uiState$ | async) as uiState">
  <mat-progress-bar *ngIf="uiState.actionOngoing" mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<mat-toolbar class="header" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <app-logo></app-logo>
    <nav>
      <ul fxLayout="row" fxLayoutAlign="space-between center">
        <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
        <li><a [routerLink]="['/issues']" routerLinkActive="active">Issues</a></li>
        <li><a [routerLink]="['/pullrequests']" routerLinkActive="active">Pull Requests</a></li>
      </ul>
    </nav>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <nav *ngIf="(currentUserStore.currentUser$ | async) as currentUser">
      <ul fxLayout="row" fxLayoutAlign="space-between center">
        <li *ngIf="currentUser.login" fxLayout="row" fxLayoutAlign="end center" fxFlexAlign="end">
          <img class="current-user-avatar" src="{{currentUser.avatar_url}}">
          <span>{{currentUser.login}}</span>
          <mat-icon (click)="logout()" class="exit-icon">exit_to_app</mat-icon>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
<div class="secondary-toolbar" *ngIf="(uiStateStore.currentRoute$ | async) as route">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" >
    <div fxLayout="row" fxLayoutAlign="center start">
      <mat-icon class="title-bar-icon" color="primary">{{ route.icon }}</mat-icon>
      <span class="title-bar-text">{{ route.title }}</span>
    </div>
    <app-debounce-obs-input *ngIf="showSearch"
      [inputLabel]="'users'"
      [searchTerm]="routeQueryParams.params.searchTerm">
    </app-debounce-obs-input>
  </mat-toolbar>
</div>